.task{
    background-color: rgb(44, 44, 44);
    margin-right: 5px;
    border-radius: 6px;
    padding: 40px 20px;
}

.title {
    margin-bottom: 20px;
}
.title h1 {
    color: #fff;

}

.description p{
    color: #fff;
    margin-bottom: 10px;
}


.description span {
    color: #ffffff59;
}
